body {
    background-image: url("https://media.istockphoto.com/id/1206798891/photo/analyzing-sales-data-and-customer-network-connection-on-virtual-screen.jpg?s=612x612&w=0&k=20&c=MbhbgXr6JkJJlbBh1fEr74hRMpwOIr8aZDuLASZl8UE=");
    background-repeat: no-repeat;
    background-size: 107%;
}
h2{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.316);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, 8rem);
}

.container header {
    display: grid;
    grid-column: 1/5;
    grid-row: 1/2;

    gap: 31px;
    width: 32%;
    margin-top: 57px;
    margin-bottom: 88px;
    text-align: center;

    position: relative;
    left: 377px;
}

.container main {
    display: grid;
    grid-column: 1/5;
    grid-row: 3/5;
    position: relative;
    padding: 2px 123px;
}

main section {
    width: 18rem;
    height: 20rem;
    box-shadow: 20px;
    height: 562px;
}

.first {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    position: relative;
    left: -176px;

}

.second {
    display: grid;
    grid-column: 3/4;
    grid-row: 3/4;
    height: 113%;
    margin-top: -34px;

}

.third {
    display: grid;
    grid-column: 4/5;
    grid-row: 3/4;
    position: relative;
    left: 176px;
}

.card {
    width: 29rem;
    font-size: xx-large;
    margin-left: -53px;
    text-align: center;
    bottom: 20px;
    /* gap: 53px; */
    border: 2px solid white;
    border-radius: 20px;
}

.first .card,
.third .card {
    /* background-color: rgb(246, 240, 240); */
    background-color: rgb(210, 189, 189);
}

.first .card .list-group-item,
.third .card .list-group-item {
    background-color: rgb(246, 240, 240);
}

.second .card {
    background-color: mediumslateblue;
    color: white;
}

.second .card .list-group-item {
    background-color: mediumslateblue;
    color: white;
}

.card-header {
    font-weight: bold;
}

.number {
    font-size: 108px;
    font-weight: bold;
}

@media screen and (max-width:416px) and (max-height:916px) {
    body {
        background-size: cover;
    }

    .first {
        display: grid;
        grid-column: 2/5;
        grid-row: 2/3;
        margin-left: 104px;
    }

    .first .card {
        height: 110%;
    }

    .second {
        display: grid;
        grid-column: 2/5;
        grid-row: 3/4;
        height: 81%;
        position: relative;
        top: -80px;
    }


    .third {
        display: grid;
        grid-column: 2/5;
        grid-row: 4/5;
        position: relative;
        left: 1px;
        top: -208px;
    }

    .third .card {
        height: 112%;
        margin-bottom: -76px;
    }

    main section {
        margin-left: -73px;
        margin-bottom: 210px
    }

    .card {
        width: 39rem;
        text-align: center;
    }

    .container header {
        display: grid;
        grid-column: 1/5;
        grid-row: 1/2;
        margin-left: -254px;
        width: 74%;
    }

    .nav {
        width: 96%;
        margin-left: 16px;
    }

    header h2 {
        margin-left: -111px;
    }


}